@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');



* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body, html {
    width: auto;
    font-family:  "MontSerrat";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow-x: hidden;
    margin-top: 50px;
}

.scrolled .text-left,.scrolled .text-left a h2{
    color: #1176AB; /* Define a cor do texto como azul quando a classe 'scrolled' é adicionada */
}

#menuContent {
    display: none;
}


#frontpage {
    margin: auto;
    background-image: url(images/backgroundimage.png);
    background-repeat: no-repeat;
    background-position: right top;
    font-family: "Poetsen One", sans-serif;
    font-weight: normal;
    font-style: normal;
    max-width: 1400px;
    margin-top: 80px;
}

#frontpage img {
    display: none;
}

.text-left {
    max-width: 48%; /* Define a largura máxima do contêiner como metade da tela */
    margin: 0; /* Remove margens automáticas para que o contêiner fique alinhado à esquerda */
    padding: 5px 20px 20px 20px; /* Adiciona algum espaço interno */
    text-align: justify; /* Alinha o texto à esquerda */
    transition: color 0.3s ease;
}

#frontpage h1 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
  
}

#frontpage h2 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    text-decoration: underline;
    font-style: italic;
    font-size: 35px;
    transition: color 0.3s ease;
    padding-bottom: 200px;
}

#frontpage p {
    font-family: "Miriam Libre", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-indent: 30px;
    text-align: center;

}

#section2{
    max-width: none;
    padding-top: 10px;
}


.text-right {
    padding-bottom: 40px;
    
}

.text-right h1 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    transition: color 0.3s ease;
}

.text-right img {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    
}

#section3 h1{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}

#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1176AB;
    padding: 20px 20px; /* Ajuste o padding conforme necessário */
    box-shadow: -4px 8px 20px 7px rgba(0, 0, 0, 0.103);
    transition: background-color 0.3s ease; 
}

#main-header .logo a{
    transition: background-color 0.3s ease;
}

#main-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.left {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.left a, .right a {
    font-weight: bolder;
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}

.left a:hover, .right a:hover {
    color: rgb(230, 230, 230);
}

.logo {
    width: 200px;
    padding: 0 50px;
}

.logo img {
    max-width: 100%;
}

.barra {
    display: none;
}

.dropdown {
    position: relative;
}

.submenu {
    text-align: center;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #1176AB;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07); /* Sombra apenas para baixo */
    /* Sombra para esquerda */
}

.submenu a {
    display: block; /* Certificar-se de que os links ocupam toda a largura */
    padding: 0; /* Aumente o padding conforme necessário */
    margin: 7px 0;
}

.dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.subsubmenu {
    box-shadow: 7px 4px 8px rgba(0, 0, 0, 0.07);
    opacity: 0;
    position: absolute;
    top: -289%;
    left: 100%;
    background-color: #1176AB;
    padding: 10px;
    transition: opacity 0.3s ease;
    border-radius: 0px 15px 15px 0px; 
}

.dropdown .has-submenu:hover + .subsubmenu,
.subsubmenu:hover {
    opacity: 1;
}

.dropdown svg {
    vertical-align: bottom; /* Move o SVG para a parte inferior */
    padding-left: 5px;
    padding-bottom: 4px; /* Adiciona um espaçamento à esquerda do SVG */
}

.scroll-header .dropdown a svg path {
    fill: #1176AB; /* Defina a cor desejada aqui */
  }

.right {
    display: flex;
    gap: 5px;
}
.button2, .button3 {
    font-weight: bolder;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}
.button2:active, .button3:active {
    color: #666;
}
.button2:before, .button3:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
.button2:after, .button3:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #00b7ff;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
.button2:hover, .button3:hover {
    color: #ffffff;
    border: 1px solid #00b7ff;
}
.button2:hover:before, .button3:hover:before {
    top: -35%;
    background-color: #00b7ff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button2:hover:after, .button3:hover:after {
    top: -45%;
    background-color: #00b7ff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button3 {
    margin-right: 30px; /* Adiciona espaço à esquerda do botão "Assistência" */
}

.button3 img {
    vertical-align: middle; /* Aligns the image with the text */
    margin-left: 5px;
    width: 19px;
}


#imgButton { /* Começa totalmente visível */
    transition: opacity 0.2s ease-in-out; /* Transição suave de opacidade */
}


.scroll-header .button2:after, .scroll-header .button2:hover,.scroll-header .button2:hover:before, .scroll-header .button2:hover:after, .scroll-header .button3:after, .scroll-header .button3:hover,.scroll-header .button3:hover:before, .scroll-header .button3:hover:after {
    background-color: #1176AB;
}

.scroll-header .logo img {
    transition: src 0.3s ease; /* Adicionar uma transição suave à troca de imagem */
}

.dropdown a svg path {
    fill: white;
}

.scroll-header {
    background-color: white !important; /* Altere para a cor desejada */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.scroll-header .logo a img {
    filter: contrast(100%) !important;/* Muda a cor do ícone para azul quando rola */
}
.scroll-header #main-nav a {
    color: #1176AB; /* Muda a cor dos links para vermelho quando rola */
}

.scroll-header .submenu, .scroll-header .subsubmenu {
    background-color: white; /* Muda o background do submenu para verde quando rola */
}

.contactos {
    display: none;
}

main {
    min-height: 62vh;
    background-color: white;
    max-width: 1200px;
    margin: auto;
}


main h1 {
    display: block;
    text-align: Center;
    margin: 40px 50px;
    font-size: 40px;
} 

main h2 {
    display: block;
    text-align: center;
    font-size: 30px;
    padding:30px 0px;
}


.banner p { 
    padding: 30px 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    
}
.banner img {
    display: flex;
    margin: auto;
}


.ververmelho a, .verlaranja a, .verazul a{
    font-size: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
    padding: 3px 20px;
    border-radius: 15px;
    margin-bottom: 100px;

}


.ververmelho a:hover, .verlaranja a:hover, .verazul a:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    color: white;
}

.ververmelho a:hover{background-color: red;}

.verlaranja a:hover{background-color: rgb(244, 121, 32);}

.verazul a:hover{background-color: rgb(13, 141, 192);}

.back , .ververmelho , .verlaranja , .verazul{
    display: flex;
}


.back a ,.back h1 {
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding-bottom: 30px;
    padding: 5px 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}



.back a{
    font-size: 18px;
}

.back a:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    background-color: #0d8dc0c5;
    color: white;
    
}

.servicos {
    font-size: 20px;
}



#container {
    max-width: 1200px;
    display: flex; 
    margin: auto;
    padding: 50px 0px;

}

#container img {
    width: 500px;
    height: auto;
}

#container p {
    display: block;
    
    padding: 30px;
    align-items: center;
    
}

#width p {
    font-size: 30px;
    padding: 20vh 100px;
    text-align: center;
}


#width img{
    width: 100vw;
}


table {
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
    border-collapse: collapse;
}

table img {
    max-width: 400px;
}

td {
    
    font-size: 20px;
    padding: 30px 50px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;

}

td p {
    font-size: 15px;
    padding-top: 7px;
}


.portateis #container p {
    font-size: large;
}


#container iframe {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px 30px;
    width: 80%;
    height: 400px;
}

.prods a {
    text-align: center;
}

#animation tr td a img{
    text-decoration: none;
    color: black;
    font-weight: none;
    padding: 5px 20px;
    border-radius: 15px;

}

#animation tr td a:hover img:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    background-color: #0d8dc0c5;
    color: white;
    
}


.portateis table td h2 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
}


.portateis table tr {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.portateis img {    
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.portateis table tr td p {
    font-size: 18px;
    align-items: center;
    font-weight: normal;
    text-align: left;
}

.portateis table tr td li {
    font-size: 18px;
    text-align: left;
}

.preco {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.preco h1{
    transition-duration: 0.3s;
    border-radius: 15px;
}

.preco h1:hover {
    font-size: 45px;
    background-color: #0d8dc0c5;
    color: white ;
}

.preco p {
    text-align: center !important;
    margin: auto;
}

.preco p b {
    font-weight: bolder;
    color: #0D8DC0;
    text-decoration: underline;
}

.point li{
    text-align: left;
    font-size: 17px;
    padding-left: 20px;
    font-weight: normal;
    list-style-type: disc;
}

/*****************POS*****************/

.postext p {
    text-indent: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
}

/*****************Noticias******************/


.noticias  iframe {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 60%;
    height: 600px;
}

/*******************Cookies*********************/

.cookies p {
    padding: 5px;
}

.cookies h3 {
    padding: 5px;
}

/****************Privacidade*******************/

.privacidade p{
    padding: 5px;
}

.privacidade h3 {
    padding: 15px;
}

.privacidade h4 {
    padding: 10px;
}

/*****************transição imagens*********************/

.slider {
    margin: auto;
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Inicialmente, posiciona o primeiro slide no centro */
    transform: translateX(-25%);
}

.slide {
    position: relative;
    width: 100%; /* Cada slide ocupa 100% do container */
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.slide:hover img {
    transform: scale(1.1); /* Efeito de zoom no hover */
}

.slide .slide-title {
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255,0,5);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slide:hover .slide-title {
    opacity: 1;
}

.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    z-index: 1;
}

.slider-prev:hover, .slider-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-prev {
    left: 10px;
}

.slider-next {
    right: 10px;
}

/**************phc software***********************/

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 50px; 
  }
  
  .sidebar {
    width: 220px;
    background-color: #900;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 5px;
  }
  
  .sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #fff;
    color: #900;
  }
  

/****************footer**************************/
footer{
    width: 100%;
    background-image: url(images/footer_signature.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #1176AB;
    color: white;
    text-align: center;
}



.footerimg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footerimg img{
    padding: 30px 0px;
    margin: 0 10px;
    
}

footer p {
    font-size: 17px;
    display: block;
    text-align: center;
    font-weight: bold;
    
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;

}


.wrapper {
    display: inline-flex;
    list-style: none;
    height: 70px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    color: white;
    position: relative;
    background: #004b74;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  
  .barra {
    display: none;
  }

  /********* Menu lateral PHC*****************/

  .sidebar {
    width: 300px;
    background-color: #900;
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .menu-title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 5px;
  }
  
  .sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #fff;
    color: #900;
  }
  
  .content {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .submenu-content {
    display: none;
  }
  
  .submenu-content.active {
    display: block;
  }

  #phc {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;

  }

@media only screen and (max-width: 1235px) {

    #frontpage {
        background-image: none;
        
    }

    #frontpage h2 {
        padding-bottom: 50px;
    }

    #frontpage img {
        display: block;
        width: 50%;
        margin: auto;
    }

    .text-left {
        max-width: 100%;
    }

    .dropdown svg {
        display: none;/* Adiciona uma margem à direita do SVG */
    }

    .contactos {
        display: inline-block;
    }

    .left {
        display: none;
    }

    .barra input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .space {
        flex-grow: 0;
    }
    
    #imgButton {
        display: none;
    }

    .logo {
        flex-grow: 1;
        
    }

    .logo img {
        width:180px;
        max-width: 100%;
        justify-content: center;
    }

    .barra {
    text-align: left;
    font-weight: bolder;
    display: inline-block;
    transition: all 0.2s ease-in;
    color: #090909;
    padding: 30px;
    margin-right: 70px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    }

    .menu-container {
        position: relative;
        width: 100%;
    }
    
    .barra {
        display: inline-block;
        cursor: pointer;
        user-select: none;
        padding: 10px;
    }

    .checkmark {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
        width: 30px;
    }
    
    .checkmark span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #333;
        transition: 0.3s;
    }
    
    
    /* Menu content styles */
    .menu-content {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        z-index: 1;
        overflow-y: auto;
        margin-top: 85px; /* Espaço para o botão do menu */
    }
    
    /* Show the menu when the checkbox is checked */
    input:checked ~ .menu-content {
        display: block;
        padding-top: 140px; /* Adiciona espaçamento superior ao conteúdo quando o submenu está aberto */
    }
    
    .menu-content a {
        color: black;
        padding: 20px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 18px;
    }
    
    .menu-content a:hover{
        background-color: #0073b1d5;
        color: white;
        fill: white;
    }



    .scroll-header #main-nav a {
        background-color: white;
        fill: #1176AB;
    }

    .custom-submenu {
        display: none; /* Inicialmente oculto */
    }
    
    .custom-submenu a {
        padding-left: 20px; /* Espaçamento para os links do submenu */
        color: #666; /* Cor do texto do submenu */
    }

    .checkmark {
        position: relative;
        top: 0;
        left: 0;
        height: 1.3em;
        width: 1.3em;
    }
    
    .checkmark span {
        width: 32px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    
    .scroll-header .checkmark span{
        background-color: #1176AB;
    }

    .checkmark span:nth-child(1) {
        top: 10%;
    }
    
    .checkmark span:nth-child(2) {
        top: 50%;
    }
    
    .checkmark span:nth-child(3) {
        top: 90%;
    }
    
    .barra input:checked + .checkmark span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    
    .barra input:checked + .checkmark span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .barra input:checked + .checkmark span:nth-child(3) {
        transform: translateX(-50px);
        opacity: 0;
    }
}


@media only screen and (max-width: 870px)
{
    body {
        width: auto;
        font-family: MontSerrat;
        overflow-x: hidden;
    }

    
    main h1 {
        font-size: 30px;
    }

    #frontpage img {
        display: block;
        width: 60%;
        margin: auto;
    }
    
    #container {
        padding: 0px;
        display: block;
    }

    /* Ajustar a largura das imagens */
    #container img {
        width: 100%;
        height: 100%;
    }
    #container p {

        display: block;
    }
    
    /* Modificar estilos de navegação */
    #main-nav a {
        font-size: 16px;
        margin: 5px;
    }
    
    /* Esconder elementos menos importantes */
    .submenu {
        display: none;
    }

    .back, .ververmelho, .verlaranja, .verazul {
        flex-direction: column;
    }
    


    /* Centralizar imagens ou conteúdo */
    .banner img {
        
        width: 100%;
        height: 100%;
    }

    table {
        margin: auto;
    }

    .prods{
        display: block;
        margin-bottom: 20px;
    }

    .prods img{
        max-width: 300px;
        margin-bottom: 0;
    }

    .prods p{
        margin-top: 0;
    }

    .portateis table {
        max-width: 85%;
    }

    .portateis table tr {
        display: block;
        margin-bottom: 20px;
    }

    .portateis table tr td {
        display: block;
        width: 100%;
        box-sizing: border-box; /* Considerar padding e borda na largura total */
        padding: 10px;
    }

    .portateis img {
        width: 50%;
        margin: auto;
        height: auto; 
        margin-bottom: 10px;
    }

    .portateis table tr td p {
        font-size: 17px;
        margin-bottom: 10px; 
    }


    .sticky {
        display: none;
    }
    main h2 {
        font-size: 24px;
        padding: 20px 0;
    }

    header {
        width: 100%;    
    }

    footer {
        width: 100%;
    }

    td {
        padding: 30px 0;
    }

    .portateis td iframe {
        width: 85%;
        padding-top: 10px;
    }

    #width img {
        display: none;
    }

    .banner {
        padding: 0px;
    }

    .banner h1 {
        padding: 0px;
    }

    .banner p {
        padding-bottom: 30px;
    }
    .banner #container img {
        width: 300px;
        height: auto;
    }


    #width p {
        font-size: 25px;
        padding: 40px 30px ;
    }


    .left,
    .right {
        margin: 0; /* Remove a margem lateral */
    }


    .button2, .button3 {
        display: none;
    }

    .dropdown svg {
        display: none; /* Adiciona um espaçamento à esquerda do SVG */
    }

    #main-header a {
        font-size: 16px;
    }

    #imgButton {
        display: none;
    }

    .text-right img {
        width: 100%;
        height: 100%;
    }
}