@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: MontSerrat;
    overflow-x: hidden;
}

#main-header {
    background-color: #0D8DC0;
    border-radius: 0px 0px 15px 15px;
    padding: 20px 0;
}

#main-nav {
    text-align: center;
    transition: top 0.3s; 
}

#main-nav a {
    margin: 7px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo {
    text-align: center;
    padding-bottom: 20px;
}

.logo img {
    max-width: 200px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(13, 141, 192);
    z-index: 1000;
    padding: 15px 0px;
    border-radius: 0px 0px 15px 15px; 
}


main {
    background-color: white;
    max-width: 1200px;
    margin: auto;
}


main h1 {
    display: block;
    text-align: Center;
    padding: 20px 50px;
    font-size: 40px;
} 

main h2 {
    text-align: center;
    font-size: 30px;
    padding:30px 0px;
}

.banner {
    padding-top: 100px;
}

.banner h1 {
    padding-top: 50px;
}

.banner p {
    padding: 0px 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    
}
.banner img {
    display: flex;
    margin: auto;
}


.ververmelho a, .verlaranja a, .verazul a{
    font-size: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
    padding: 3px 20px;
    border-radius: 15px;
    margin-bottom: 100px;

}


.ververmelho a:hover, .verlaranja a:hover, .verazul a:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    color: white;
}

.ververmelho a:hover{background-color: red;}

.verlaranja a:hover{background-color: rgb(244, 121, 32);}

.verazul a:hover{background-color: rgb(13, 141, 192);}

.back , .ververmelho , .verlaranja , .verazul{
    display: flex;
}


.back a ,.back h1 {
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding-bottom: 30px;
    padding: 5px 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.back a{
    font-size: 20px;
}

.back a:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    background-color: #0d8dc0c5;
    color: white;
    
}

.servicos {
    font-size: 20px;
}



.produtosimg {
    display: flex;
    justify-content: center;
}


.produtosimg img {
    max-width: 300px;
    margin: 0px 20px;
    
}

.produtosp {
    display: flex;
    justify-content: center;
}


.produtosp p {
    max-width: 300px;
    margin: 30px 110px;
    
}

#container {
    max-width: 1200px;
    display: flex; 
    margin: auto;
    padding: 50px 0px;

}

#container img {
    width: 500px;
    height: auto;
}

#container p {
    display: block;
    text-indent: 30px;
    padding: 30px;
    align-items: center;
    
}

#width p {
    font-size: 30px;
    padding: 20vh 100px;
    text-align: center;
}


#width img{
    width: 100vw;
}


table {
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
    border-collapse: collapse;
}

table img {
    max-width: 400px;
    padding: 30px;
}

td {
    
    font-size: 20px;
    padding: 30px 50px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
}

td p {
    font-size: 15px;
    padding-top: 7px;
}

.prods a{
    text-decoration: none;
    color: black;
    font-weight: none;
    padding: 5px 20px;
    border-radius: 15px;

}

.prods a:hover{
    transition-duration: 0.5s;
    text-decoration: underline;
    background-color: #0d8dc0c5;
    color: white;
    
}



#animation td a img{
    padding: 30px;
    border-radius: 15px;
    transition-duration: 0.5s;

}

#animation td a img:hover{
    background-color: #0d8dc0c5;
}

.portateis table tr {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.portateis img {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.portateis table tr td p {
    font-size: 17px;
    align-items: center;
    font-weight: normal;
    text-align: left;
}

.preco {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.preco h1{
    transition-duration: 0.3s;
    border-radius: 15px;
}

.preco h1:hover {
    font-size: 45px;
    background-color: #0d8dc0c5;
    color: white ;
}

.preco p {
    text-align: center !important;
    margin: auto;
}

.preco p b {
    font-weight: bolder;
    color: #0D8DC0;
    text-decoration: underline;
}

.point li{
    text-align: left;
    font-size: 17px;
    padding-left: 20px;
    font-weight: normal;
    list-style-type: disc;
}

/*****************POS*****************/

.postext p {
    text-indent: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
}

footer{
    background-image: url(images/footer_signature.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #0D8DC0;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}


.footerimg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footerimg img{
    padding: 30px 0px;
    margin: 0 10px;
    
}

footer p {
    font-size: 17px;
    display: block;
    text-align: center;
    font-weight: bold;
    
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    
}